body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
    flex-direction: column;
}
h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}
form{
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 75vh;
    box-sizing: border-box;
}
.form-group{
    margin-bottom: 15px;
}
label{
    display: block;
    margin-bottom: 5px;
}
input[type="text"], input[type="password"], input[type="radio"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
}
.radio-group {
    display:flex;
    gap: 20%;
    margin-top: 8px;
}
.radio-group label {
    display: flex;
    align-items: center; 
}
.radio-group input[type="radio"] {
    margin:0;
}
input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
input[type="checkbox"] {
    margin-right: 5px;
}
button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #0056b3;
}
input:disabled {
    background-color: bisque;
    color: #aaa;
    cursor: not-allowed;
}
input[type="radio"]:checked {
    background-color: #007BFF;
    border: 2px solid #007BFF;
    outline: none;
}
input[type="radio"]:checked + label {
    color: #007BFF;
    font-weight: bold;
}
input[type="checkbox"]:checked {
    background-color: #007BFF;
    border: 2px solid #007BFF;
    outline: none;
}
input[type="checkbox"]:checked + label {
    color: #007BFF;
    font-weight: bold;
}
