.my-list li:last-child {
    font-style: italic;
    color: blue;
}

.my-list li:nth-child(odd) {
    background-color: lightgray;
}

.my-list li:first-child {
    font-weight: bold;
    background-color: yellow;
}

.my-list li:nth-child(even) {
    background-color: #dcdcdc;
}

.next-list li:nth-child(3) {
    background-color: lightgray;
}

.KDrama-list {
    background-color: rgb(73, 34, 34);
    color: white; 
}

.KDrama-list li:nth-child(odd) {
    background-color: #555; 
}

.KDrama-list li:nth-child(even) {
    background-color: #777; 
}
